// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700,100i,300i,400i,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// General Styles
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab';
    font-weight: 300;
}

h1,
h3 {
    margin-bottom: 1.5rem;
}

h3,
h4 {
    font-weight: 300
}

p {
    font-family: 'Roboto';
    font-weight: 300;
}

.single-memberpressgroup h1.entry-title {
  text-shadow: none;
}

.post-47 h1.entry-title {
  text-shadow: none;
}

h1.entry-title {
text-shadow: 2px 2px 8px rgba(100, 100, 100, 1);
}

.btn-outline-info {
    color: $nld-blue;
    border-color: $nld-blue;
}

.btn-outline-info:hover {
    background-color: $nld-blue;
    border-color: $nld-blue;
}

.btn-outline-info:focus {
    box-shadow: 0 0 0 3px rgba(14, 117, 187, .5);
}

// COLORS
.fa-white {
    color: $white;
}

.blue {
    color: $nld-blue
}

.data-title {
    font-weight: 300;
    font-size: 2.2rem;
}

.map-title {
    font-weight: 300;
}

.pricing {
    background-color: $nld-green;
    font-size: 21px;
    border-radius: 0;
    padding: 1rem 5rem;
    color: #fff;
    width: 100%;
    max-width: 300px;
    margin-bottom: 25%;
    &:hover {
        color: #fff;
        background-color: $nld-blue;
        -webkit-transition: background-color 350ms ease-out;
        -ms-transition: background-color 350ms ease-out;
        transition: background-color 350ms ease-out;
    }
}

.navbar-nav {
    margin-top: 20px;
}

.testimonial {
    background-image: none !important;
    background-color: #b2aba6;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.map-title {
    font-size: 1.5rem;
}

.mobile-bullets {
    border-left: none;
}

.bottom-border {
    border-bottom: none;
    margin-bottom: 40px;
}

// ***** Lightbox Video ****** //
#html5-watermark {display: none !important;}
.html5boxSeekerPlay, .html5boxVolumeBarActive {background-color: rgba(43, 181, 115, 1) !important;}

// ******* TOOLS AND ELEMENTS ******* //
// CALL TO ACTION
.cta-title h3 {
    padding: 5%;
    font-size: 2.2rem;
}

.cta-btn {
    background-color: $white;
    border-radius: 0;
    text-transform: uppercase;
    padding: 3% 14%;
    font-size: 1.5rem;
    border: none;
    &:hover {
        background-color: transparent !important;
        color: $white !important;
        border: 1px solid $white;
        cursor: pointer;
    }
}

.btn-primary {
    border-radius: 0px;
    padding: 30px;
    text-transform: uppercase;
    &:hover {
        color: #fff !important;
        background-color: $nld-green;
        border-color: #fff;
        text-decoration: none;
        -webkit-transition: background-color 350ms ease-out;
        -ms-transition: background-color 350ms ease-out;
        transition: background-color 350ms ease-out;
    }
}

.btn-secondary {
    &:hover {
        color: #fff !important;
        background-color: $nld-green;
        border-color: #fff;
        -webkit-transition: background-color 350ms ease-out;
        -ms-transition: background-color 350ms ease-out;
        transition: background-color 350ms ease-out;
    }
}

.btn-blue {
    border-radius: 0px;
    padding: 30px;
    background-color: $nld-blue;
    &:hover {
        color: #fff !important;
        background-color: $nld-green;
        border-color: #fff;
        text-decoration: none;
        -webkit-transition: background-color 350ms ease-out;
        -ms-transition: background-color 350ms ease-out;
        transition: background-color 350ms ease-out;
    }
}

    .btn-green {
      border-radius: 0px;
      padding: 30px;
      background-color: $nld-green;
      &:hover {
          color: #fff !important;
          background-color: $nld-blue;
          border-color: #fff;
          text-decoration: none;
          -webkit-transition: background-color 350ms ease-out;
          -ms-transition: background-color 350ms ease-out;
          transition: background-color 350ms ease-out;
    }
}
    .btn-purple {
        border-radius: 0px;
        padding: 30px;
        background-color: #652d90;
        &:hover {
            color: #fff !important;
            background-color: $nld-green;
            border-color: #fff;
            text-decoration: none;
            -webkit-transition: background-color 350ms ease-out;
            -ms-transition: background-color 350ms ease-out;
            transition: background-color 350ms ease-out;
     }
}

// SERVICE BOXES
.colored-boxes p {
    color: #fff;
    max-width: 65%;
    font-size: 22px;
    max-width: 68%;
}

// CAROUSEL
.flickity-prev-next-button {
    top: 20%;
}

.carousel {
    background: #EEE;
    margin: 0;
    .carousel-cell {
        width: 100%;
        margin: 10% 0%;
        max-height: 800px;
        margin-right: 10px;
        border-radius: 5px;
        padding: 0px;
        :before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
        .carousel-cell-text {
            width: 100%;
        }
        .carousel-cell-image {
            min-height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
        }
    }
}

// ******* HEADER ********* //
// NAVIGATION
#main-menu {
    a {
        text-transform: uppercase;
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    li {
        padding: 0 10px;
    }
    a:hover {
        color: $nld-orange;
    }
    li.current-menu-item a {
        color: $nld-orange;
    }
    li.signup.current-menu-item a {
        color: #fff;
    }
    .signup {
        background-color: $nld-orange;
        margin: 5px 15px;
        a:hover {
            color: white;
        }
        a:focus, a:active {
          color: #fff;
        }
        &:hover {
          background-color: $nld-blue;
          -webkit-transition: background-color 350ms ease-out;
          -ms-transition: background-color 350ms ease-out;
          transition: background-color 350ms ease-out;
        }
    }
    .login {
        background-color: $nld-blue;
          a {color: #fff  !important;}
        margin: 5px 15px;
        &:hover {
          background-color: $nld-green;
          -webkit-transition: background-color 350ms ease-out;
          -ms-transition: background-color 350ms ease-out;
          transition: background-color 350ms ease-out;
        }
    }
    .dashboard {
        background-color: $nld-green;
          a {color: #fff  !important;}
        margin: 5px 15px;
          &:hover {
            background-color: $nld-blue;
            -webkit-transition: background-color 350ms ease-out;
            -ms-transition: background-color 350ms ease-out;
            transition: background-color 350ms ease-out;
          }
      main-menu a {color: #fff}
    }
}

.navbar {
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
    .navbar-brand {
        max-width: 150px;
    }
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
    max-width: 90%;
}

#wrapper-footer-full {
    padding: 30px 0px;
    .btn-primary {
        min-width: 120px;
        padding: 10px;
        &:hover {
            background-color: #fff;
            border: 1px solid $nld-blue;
            color: $nld-blue !important;
        }
    }
    .field-wrap > div input {
        min-height: 50px;
    }
}

// HERO GRAPHIC
.hero {
    background-position: left center;
}

.page-template-research {
    .hero {
        background-position: -300px center;
    }
}

.page-template-diagnostic {
    .hero {
        background-position: -800px center;
    }
}

.page-template-certified-trainer {
    .hero {
        background-position: -800px center;
    }
}

img.icon {
    width: 150px;

}

.video-step {
    background-color: #efefef;
}

.status-box {
    .border {
        border: 2px solid #bbbdbf !important;
        width: 300px;
        height: 312px;
        margin: 0 auto;
        img {
            width: 150px;
            margin-left: 40px;
        }
    }
}

.page-template-diagnostic-members {
    .hero {
        background-position: center -100px;

    }
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 625px;
    position: relative;
    height: 600px;
    top: 0px;
    z-index: 1;
    .hero-items-diag {bottom: 120px;}
    .hero-items {bottom: 20px;}
    .hero-items, .hero-items-diag {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
        .hero-text {
            margin-top: -285px;
            text-shadow: 2px 2px 8px rgba(100, 100, 100, 1);
        }
        .entry-title {
            font-size: 3rem;
            font-weight: 400;
            color: $white;
            margin-bottom: 0;
        }
    }
    .fa-stack {
        font-size: 2em;
        .fa-circle {
            color: $nld-blue;
            font-size: 2em;
            &:hover {
                color: $nld-orange;
                -webkit-transition: color 350ms ease-out;
                -ms-transition: color 350ms ease-out;
                transition: color 350ms ease-out;
            }
            .fa {
                color: #fff;
                font-size: .6em;
                bottom: .3em;
            }
        }
    }
    .social{
        a:hover {text-decoration: none;}
    }

    /*
.icon-background4 {
   opacity: 0.6;
   background-color: green;
}
.icon-background6 {
    opacity: 0.6;
    background-color: $nld-blue;
}
*/

}

#custom_html-2 {border-right:none;}

.carousel-control-next, .carousel-control-prev {top: 80%; opacity:.8;color: #000}
.video-meta {text-align: center;}


//BLOG
.blog {
    div#wrapper-index {
        background-color: #efefef;
    }
    .content-area {
        background-color: white;
        padding: 30px;
    }
    .hero {
        display: none;
    }
    h2.entry-title {
        background-color: #000;
        padding: 30px;
        margin-bottom: 0px;
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
                color: #dfdfdf;
            }
        }
    }
    time.updated {
        display: none;
    }
    .entry-meta {
        background-color: #efefef;
        color: #333;
        a {
            color: $nld-orange;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
        }
    }
    .btn-secondary {
        background-color: $nld-blue;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        border-radius: 0px;
        &:hover {
            background-color: $nld-green;
            color: $nld-blue;
            text-decoration: none;
        }
    }
    .entry-footer {
        a {
            color: $nld-green;
            text-transform: uppercase;
            margin: 20px auto;
            padding: 0px 3px;
            &:hover {
                text-decoration: none;
                color: $nld-blue;
            }
        }
    }
    .widget-area {
        h3.widget-title {
            margin: 20px 0px 10px 0px;
        }
        ul {
            list-style-type: none;
            padding: 15px 0px 5px;
            li {
                text-transform: capitalize;
                padding: 8px 0px;
                font-size: 1.2em;
                border-bottom: 1px solid #c3c3c3;
                a {
                    color: $nld-orange;
                    &:hover {
                        text-decoration: none;
                        color: $nld-orange;
                    }
                }
            }
        }
    }
}

.widget-area {
    h3.widget-title {
        margin: 20px 0px 10px 0px;
    }
    ul {
        list-style-type: none;
        padding: 15px 0px 5px;
        li {
            text-transform: capitalize;
            padding: 8px 0px;
            font-size: 1.2em;
            border-bottom: 1px solid #c3c3c3;
            a {
                color: $nld-orange;
                &:hover {
                    text-decoration: none;
                    color: $nld-orange;
                }
            }
        }
      }
}

.submit {padding: 0px; margin-left: 10px !important}

.widget_search {margin-bottom: 30px;}

img.wp-post-image {width: 100%;}

.comment-author img {display: none;}

.single-post {
    div#single-wrapper {
        background-color: #efefef;
    }
    #content {
        background-color: white;
        padding: 30px;
    }
    .hero {
        display: none;
    }
    h1.entry-title {
        background-color: #000;
        padding: 30px;
        margin-bottom: 0px;
        color: #fff;
    }
    time.updated {
        display: none;
    }
    .entry-meta {
        background-color: #efefef;
        color: #333;
        a {
            color: $nld-orange;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
        }
    }
    .btn-secondary {
        background-color: $nld-blue;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        &:hover {
            background-color: $nld-green;
            color: $nld-blue;
            text-decoration: none;
        }
    }
    .entry-content {
        padding: 30px 0px;
        p {
            font-size: 1.3em;
        }
    }
    .entry-footer {
        a {
            color: $nld-green;
            text-transform: uppercase;
            margin: 20px auto;
            padding: 0px 3px;
            &:hover {
                text-decoration: none;
                color: $nld-blue;
            }
        }
    }
    .post-navigation {
        background-color: $nld-green;
    }
    .nav-links a {
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        background-color: $nld-green;
        padding: 30px;
        color: #fff;
        display: flex;
        font-size: 1.3em;
        .fa {
            line-height: 140%;
            padding: 0px 15px;
        }
        &:hover {
            background-color: #fff;
            color: $nld-green;
            text-decoration: none;
        }
    }
    #comments {
        background-color: #e5e5e5;
        color: #555;
        a {
            color: #555;
        }
        #respond {
            width: 100%;
        }
        ol.comment-list {
            list-style-type: none;
            padding: 0px;
            a {
                color: $nld-orange;
                &:hover {
                    text-decoration: none;
                    color: $nld-orange;
                }
            }
        }
    }
    .widget-area {
        h3.widget-title {
            margin: 20px 0px 10px 0px;
        }
        ul {
            list-style-type: none;
            padding: 15px 0px 5px;
            li {
                text-transform: capitalize;
                padding: 8px 0px;
                font-size: 1.2em;
                border-bottom: 1px solid #c3c3c3;
                a {
                    color: $nld-orange;
                    &:hover {
                        text-decoration: none;
                        color: $nld-orange;
                    }
                }
            }
        }
    }
} // RESEARCH
.button-links {
    background-color: #1B75BA;
    padding: 20px;
    color: #fff;
    width: 100%;
    min-height: 100px;
    border: 0px;
    &:hover {cursor: pointer;}
}

.color-sidebar {
    padding-bottom: 10px;
    margin: 0px 0px 20px 0px;
}

.citations {
  background-color: #efefef;
}
.sources {
  ul {
    padding: 8px 15px;
    list-style: none;
    li {
      padding-bottom: 20px;
      font-style: italic;
      font-size: .8em;
      a {
        font-weight: 700;
      }
    }
  }
}


// CERTIFIED TRAINER BACKEND

// DIAGNOSTIC
// ******* FOOTER ********* //
#wrapper-footer-full {
    margin-top: 80px;
}

#menu-footer-navigation {
    list-style: none;
    margin-top: 20px;
    a {
        color: black;
        line-height: 40px;
        font-size: 22px;
    }
    a:hover {
        color: $nld-blue;
        text-decoration: none;
    }
    .signup {
        background-color: $nld-orange;
        max-width: 150px;
        padding: 7px 30px;
        margin: 20px 0;
        border: 1px solid $nld-orange;
        a {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
        }
        &:hover {
          background-color: #fff;
          border: 1px solid $nld-orange;
          a {
              color: $nld-orange;
          }
        }
    }

}

.signup a {color: $nld-orange;}

// MemberPress Customizations ///

.mepr-price-menu.minimal_horizontal .mepr-price-box-title {background-color: $nld-blue; color: #fff; margin-top: 0; line-height: 27px; padding: 20px}
.mepr-price-menu.minimal_horizontal .mepr-price-box {padding: 0; margin: 0 10px;}
.mepr-price-menu.minimal_horizontal .mepr-price-box-price {font-size: 170%;}
.mepr-price-menu.minimal_horizontal .mepr-price-box-button {background-color: $nld-green; padding: 10px 0; margin: 25px 15px;}
.mepr-price-menu.minimal_horizontal .mepr-price-box-button a {color:#fff}
.mepr-price-menu.minimal_horizontal .mepr-price-box-footer {margin-top: 15px;}
.mepr-price-box-benefits {display:none;}


// CERTIFIED TRAINER FOR MEMBERS

.stepdirections p {
  max-width: 250px;
  font-size: 1em;
  line-height: 1em;
  font-family: 'Roboto Slab';
}

// HOME
// RESEARCH
.research-title h3 {
    padding: 5%;
    font-size: 2.2rem;
}

.research-btn {
    background-color: $white;
    border-radius: 0;
    text-transform: uppercase;
    padding: 3% 14%;
    font-size: 1.5rem;
    border: none;
    &:hover {
        background-color: transparent !important;
        color: $white !important;
        border: 1px solid $white;
    }
}

.text-center h2 {
    font-weight: 100;
}

// CERTIFIED TRAINER
.trainer-video {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

// RESEARCH
.research-video {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}


// DIAGNOSTIC
.diag-video {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}
.diag-caption {
  background-color: #c5c5c5;
  height: 90px;
  max-width: 300px;
}

.border-alt:nth-of-type(even) {
    border-left: none;
}

@include media-breakpoint-up(sm) {
    .hero {
        top: -115px;
    }
    .mobile-bullets {
        border-left: none;
    }
    .map-background {
        background-position: -250px center;
    }
    .home {
        .hero {
            top: -115px;
            background-position: -400px center;
        }
        div#full-width-page-wrapper {
            margin-top: -115px;
        }
    }
}

// XS devices (phones, 400px and up)
@media (min-width: 375px) and (max-width: 767px) {
    .navbar {
        .navbar-brand {
            max-width: 160px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .btn-primary {
        min-width: 150px;
    }
    .navbar {
        .navbar-brand {
            max-width: none;
        }
    }
    .social {
        min-width: 250px;
        float:right;
    }
}

// Small devices (landscape phones, 576px and up to 767px)
@media (min-width: 576px) and (max-width: 767px) {
    .mobile-bullets {
        border-left: none;
    }
}

// Med devices (768px+)
@include media-breakpoint-up(md) {
  .divider {
    display: inline-block;
    width: 0;
    height: 18em;
    margin-top: 2em;
    margin-left: 40px;
    margin-right: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .border-alt:nth-of-type(even) {
      border-left: 1px solid #000;
  }
  .login {
      margin: 0 15px;
  }
  .dashboard {
      margin: 0 15px;
  }

    .hero {
        .hero-items {
          position: absolute;
          bottom: 40px;
            .entry-title {
                font-size: 4.6rem;
            }
        }
        .hero-items-diag .entry-title {
          bottom: 120px;
          font-size: 4.6rem;
        }
    }
    .home {
        .hero {
            top: -115px;
            background-position: -0px center;
        }
    }
    .pricing {
        width: initial;
    }
    .hero-text {
        margin-top: -360px
    }
    .wrapper-navbar {
        background-position: -450px center;
        .navbar {
            background-color: rgba(0, 0, 0, .8);
            padding: 10px;
            #main-menu li {
                padding: 0 5px;
            }
        }
    }
    .diag-video {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
    }
    .trainer-video {
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
    }
    #nav_menu-2 {
        flex: 0 0 98%;
        max-width: 98%;
    }
    p {
        font-size: 1.2rem
    }
    #ninja_forms_widget-2 {
        flex: 0 0 98%;
        max-width: 98%;
    }
    .icon-mobile {
        background-size: 25%;
        margin-bottom: 1rem;
    }
    .bottom-border {
        border-bottom: none;
    }
    // HOME
    .map-title {
        font-size: 1.8rem;
    }
    .testimonial {
        background-image: url('../../../uploads/2017/09/video-medium.png') !important;
    } // Footer Styles
    #custom_html-2 {
        flex: 0 0 30%;
        max-width: 30%;
        margin-left: 2%;
    }
    #nav_menu-2 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    #ninja_forms_widget-2 {
        flex: 0 0 35%;
        max-width: 40%;
    }
    #nf-field-6 {
        padding-left: 10px;
    }
    .nf-error-field-errors {
        display: inline-block
    }

        /* show 3 items */
        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item {
            display: block;
        }

        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
        }

        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
          position: relative;
          transform: translate3d(0, 0, 0);
        }

        .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333%;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        /* farthest right hidden item must be abso position for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
        .fa-chevron-left {position: absolute; left: 15px; font-size: 3.5em;}
        .fa-chevron-right {position: absolute; right: 15px; font-size: 3.5em;}
        .video-meta {background-color: #C6C6C6; padding: 5px 25px; text-align: left;}
        .carousel-control-next, .carousel-control-prev {top: 0;}
}

// Large devices (992px+)
@include media-breakpoint-up(lg) {
    .hero {
      .hero-items {
          position: absolute;
          bottom: 40px;
        .hero-text {
            margin-top: -280px;
            text-transform: uppercase;
        }
      }
    }
    .hero .hero-items-diag {
      bottom: 60px;
    }
    .page-template-research {
        .hero {
            background-position: center;
        }
    }
    .page-template-diagnostic {
        .hero {
            background-position: center;
        }
    }
    .page-template-certified-trainer {
        .hero {
            background-position: center;
        }
    }
    .wrapper-navbar {
        background-position: center center;
    }
    .testimonial {
        background-image: url('../../../uploads/2017/09/video-large.png') !important;
    }
    .navbar {
        padding: 20px;
        #main-menu li {
            padding: 0 10px;
        }
    }
    #custom_html-2 {border-right: 1px solid black;}

    .flickity-prev-next-button {
        top: 50%;
    }

    .carousel {
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 20px 60px;
        .carousel-cell {
            width: 50%;
            margin: 0%;
            max-height: 400px;
            .carousel-cell-text {
                width: 75%;
                padding-left: 10px;
            }
            .carousel-cell-image {
                min-height: 200px;
                width: 25%;
            }
        }
    }
    .video-carousel {
        .carousel-cell {
            padding: 0px 30px;
            .carousel-cell-image {
                width: 100%;
                min-height: 350px;
            }
            .carousel-cell-text {
                width: 100%;
            }

        }
    }
}

@include media-breakpoint-up(xl) {
    // I'll say when you add whitespace. You don't decide that for me.
    .hero {
      .hero-items {
          position: absolute;
          bottom: 10px;
        .hero-text {
            margin-top: -280px;
            text-transform: uppercase;
        }
      }
    }
    .hero .hero-items-diag {
      bottom: 20px;
    }
    .wrapper {
        padding: 0px;
    }
    .home {
        div#full-width-page-wrapper {
            margin-top: -115px;
        }
    }
}

@media (min-width: 2150px) {
  .hero .hero-items-diag {
    bottom: 20px;
  }
  .diag-video {
    background-position: 0 -100px;
  }
  .trainer-video {
    background-position: 0 -350px;
  }
  .research-video {
    background-position: 0 -300px;
  }
}


/* HOME PAGE */

/* Mobile Header Image */

.hero {
  background-position: -250px center;
}

/* Tablet Header Image */

@media (min-width: 576px) {
  .hero {
    background-position: -600px center;
  }
}

/* Horizontal Tablet Header Image */

@media (min-width: 1023px) {
  .hero {
    background-position: -300px center;
  }
}

/* Desktop Header Image */

@media (min-width: 1023px) {
  .hero {
    background-position: center center;
  }
}

/* CERTIFIED TRAINER PAGE */

/* Mobile Header Image */

.hero {
  background-position: -800px center;
}

/* Tablet Header Image */

@media (min-width: 576px) {
  .hero {
    top: -115px;
    background-position: -500px center;
  }
}

/* Horizontal Tablet Header Image */

@media (min-width: 1023px) {
  .hero {
    background-position: -300px center;
  }
}

/* Desktop Header Image */

@media (min-width: 1023px) {
  .hero {
    background-position: center center;
  }
}

/* GETTING STARTED PAGE */

/* Mobile Header Image */

.hero {
  background-position: -500px center;
}

/* Tablet Header Image */

@media (min-width: 576px) {
  .hero {
    top: -115px;
    background-position: -400px center;
  }
}

/* Horizontal Tablet Header Image */

@media (min-width: 1023px) {
  .hero {
    background-position: -300px center;
  }
}

/* Desktop Header Image */

@media (min-width: 1023px) {
  .hero {
    background-position: center center;
  }
}
