<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#F4F3F4">
<tbody>
<tr>
<td style="padding: 2%;">&nbsp;</p>
<table width="50%" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
<tbody>
<tr>
<td align="left">
<div style="border: solid 1px #d9d9d9;">
<table id="header" style="padding: 20px 0 20px 0; line-height: 1.6; font-size: 12px; font-family: Helvetica, Arial, sans-serif; border: solid 1px #FFFFFF; color: #444;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td align="center" valign="baseline"><a style="text-decoration: none;" href="%blog_url%" target="_blank" rel="noopener"><img src="https://developmentsite.review/DBS/networkleaders/wp-content/uploads/2017/08/logo.png" alt="" /></a></td>
</tr>
</tbody>
</table>
<table id="content" style="padding: 25px; color: #444; line-height: 1.6; font-size: 12px; font-family: Arial, sans-serif;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="border-top: solid 1px #d9d9d9;" colspan="2">
<div style="padding: 5px 0;">
<h1 style="font-size: 30px; margin-bottom: 0;">Your Credit Card is Expiring on {$subscr_cc_month_exp}/{$subscr_cc_year_exp}</h1>
<h2 style="margin-top: 0; color: #999; font-weight: normal;">{$blog_name}</h2>
<div style="margin-bottom: 20px;">Your Credit Card will expire before your next billing on {$blog_name}.</div>
<div style="margin-bottom: 20px;">To avoid any interruptions in your subscription, please <a href="{$subscr_update_url}">login to your account</a> and update your credit card information.</div>
<table class="transaction" style="clear: both;">
<tbody>
<tr>
<th style="text-align: left;">Website:</th>
<td>{$blog_name}</td>
</tr>
<tr>
<th style="text-align: left;">Subscription:</th>
<td>{$product_name}</td>
</tr>
<tr>
<th style="text-align: left;">Subscription Num:</th>
<td>{$subscr_num}</td>
</tr>
<tr>
<th style="text-align: left;">Credit Card Num:</th>
<td>{$subscr_cc_num}</td>
</tr>
<tr>
<th style="text-align: left;">Credit Card Exp:</th>
<td>{$subscr_cc_month_exp}/{$subscr_cc_year_exp}</td>
</tr>
<tr>
<th style="text-align: left;">Next Billing:</th>
<td>{$subscr_next_billing_at}</td>
</tr>
</tbody>
</table>
<table class="labels" style="clear: both; width: 100%;">
<tbody>
<tr>
<td style="vertical-align: top;">
<fieldset class="billing" style="border: none; border-top: 1px solid #dedede; margin: 20px 40px 20px 0;">
<legend style="display: block; font-weight: bold; color: #999;">Billed to</legend>
<address style="font-style: normal;">
<div class="address_name" style="display: block; font-size: 115%;"><big>{$user_full_name}</big></div>
<div class="address_email" style="display: block;">{$user_email} (<b>{$user_login}</b>)</div>
<div class="address_address" style="display: block;">{$user_address}</div>
</address>
</fieldset>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<table id="footer" style="line-height: 1.5; font-size: 12px; font-family: Arial, sans-serif; padding: 20px;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr style="padding-top: 10px; font-size: 11px; color: #999999;">
<td style="border-top: solid 1px #d9d9d9;" colspan="2">
<div><img style="vertical-align: middle;" src="https://developmentsite.review/DBS/networkleaders/wp-admin/images/comment-grey-bubble.png" alt="Contact" width="12" height="12" /> If you have any questions or requests, please contact <a href="mailto:info@networkleader.com">info@networkleader.com</a></div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
