<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#F4F3F4">
<tbody>
<tr>
<td style="padding: 2%;">&nbsp;</p>
<table width="50%" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
<tbody>
<tr>
<td align="left">
<div style="border: solid 1px #d9d9d9;">
<table id="header" style="padding: 20px 0 20px 0; line-height: 1.6; font-size: 12px; font-family: Helvetica, Arial, sans-serif; border: solid 1px #FFFFFF; color: #444;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td align="center" valign="baseline"><a style="text-decoration: none;" href="%blog_url%" target="_blank" rel="noopener"><img src="https://developmentsite.review/DBS/networkleaders/wp-content/uploads/2017/08/logo.png" alt="" /></a></td>
</tr>
</tbody>
</table>
<table id="content" style="padding: 0 25px; color: #444; line-height: 1.6; font-size: 12px; font-family: Arial, sans-serif;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="border-top: solid 1px #d9d9d9;" colspan="2">
<div style="padding: 5px 0;">
<h1 style="font-size: 30px; margin-bottom: 4px;">Welcome {$user_first_name}!</h1>
<div id="receipt">
<div class="section" style="display: block; margin-bottom: 15px;">You can login here: <a href="{$login_page}">{$login_page}</a></div>
<div class="section" style="display: block; margin-bottom: 15px;">Using this username and password:</div>
<div class="section" style="display: block; margin-bottom: 15px;">
<table class="transaction" style="clear: both;">
<tbody>
<tr>
<th style="text-align: left;">Username:</th>
<td>{$username}</td>
</tr>
<tr>
<th style="text-align: left;">Password:</th>
<td>*** Password you set during signup ***</td>
</tr>
<tr>
<th style="text-align: left;">Subscription:</th>
<td>{$product_name}</td>
</tr>
<tr>
<th style="text-align: left;">Subscription Expires:</th>
<td>{$trans_expires_at}</td>
</tr>
</tbody>
</table>
</div>
<div class="section" style="display: block; margin-bottom: 15px;">Cheers!</div>
<div class="section" style="display: block; margin-bottom: 15px;">The {$blog_name} Team</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<table id="footer" style="line-height: 1.5; font-size: 12px; font-family: Arial, sans-serif; padding: 20px;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr style="padding-top: 10px; font-size: 11px; color: #999999;">
<td style="border-top: solid 1px #d9d9d9;" colspan="2">
<div><img style="vertical-align: middle;" src="https://developmentsite.review/DBS/networkleaders/wp-admin/images/comment-grey-bubble.png" alt="Contact" width="12" height="12" /> If you have any questions or requests, please contact <a href="mailto:info@networkleader.com">info@networkleader.com</a></div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
